[submodule "lib/getargs"]
	path = lib/getargs
	url = https://github.com/jasonKercher/getargs/
[submodule "external/Musashi"]
	path = external/Musashi
	url = https://github.com/kstenerud/Musashi
[submodule "external/tests-65816"]
	path = external/tests-65816
	url = git@github.com:aniou/tests-65816.git
