[submodule "lib/getargs"]
	path = lib/getargs
	url = https://github.com/jasonKercher/getargs/
[submodule "external/Musashi"]
	path = external/Musashi
	url = https://github.com/kstenerud/Musashi
[submodule "external/tests-65816"]
	path = external/tests-65816
	url = https://github.com/aniou/tests-65816
[submodule "external/tests-6502"]
	path = external/tests-6502
	url = https://github.com/SingleStepTests/65x02
