# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.o

# Tag files
tags

# Editor files
*.swp

# external libraries
#external/*

# built binaries
c256
a2560x
test_65c816
test_w65c02s
